nav {
    padding: 20px;
}

ul {
    overflow: hidden;
    background-color: #333333;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

ul li a:hover {
    background-color: #c31212;
    transition: 0.7s ease-in-out;
}